@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.button-pulse {
		box-shadow: 0 0 0 0 rgba(131, 188, 232, 0.7);
		animation: pulse 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
	}

	/* .main-background {
		background: rgb(19, 78, 74);
		background: linear-gradient(
			180deg,
			rgba(19, 78, 74, 1) 0%,
			rgba(17, 94, 89, 1) 70%,
			rgba(15, 118, 110, 1) 100%
		);
		@apply bg-gradient-to-b from-teal-900 via-70% via-teal-800 to-teal-700;
	} */
}

body {
	@apply min-h-screen bg-no-repeat bg-teal-700 bg-gradient-to-b from-teal-900 via-30% via-teal-800 to-teal-700 font-sans box-border text-white;

	a {
		@apply text-anchor-light font-bold;
	}
}

@keyframes pulse {
	to {
		box-shadow: 0 0 0 15px rgba(240, 240, 240, 0);
	}
}
